footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 1;
}

h1,
h3 {
  text-align: center;
}

.card {
  margin: 0.75%;
  color: #673ab7;

}

a {
  color: #b39ddb;
}

body {
  background: #d1c4e9;
  color: #673ab7;
}

.brand-logo {
    margin-left: 1%;
}

.collection {
  float: left;
  width: 25%;
  margin: 1%;
}

.responsiveSelfie {
  width: 25%
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .collection {
    float: left;
    width: 50%;
  }
  .responsiveSelfie {
    width: 50%
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .collection {
    float: left;
    width: 100%;
  }
  .responsiveSelfie {
    width: 100%
  }
}
